/* Estilos generales para la sección */
#cuadros {
    margin-top: 20px; /* Espaciado superior */
}

/* Estilos para el contenedor principal que agrupa los cuadros */
.container-cuadros {
    display: flex; /* Disposición horizontal */
    justify-content: space-between; /* Espacio entre contenedores */
}

/* Estilos específicos para contenedor1 (bueno) */
.contenedor1 {
    background-color: #5aa86e; /* Fondo azul claro */
    width: 45%;
    height: 500px;
    padding: 20px;
    margin-left: 55px;
}



/*CUADRADO MALO*/

.main-container {
    display: flex; /* Disposición horizontal */
    align-items: flex-start; /* Alineación en la parte superior */
    justify-content: space-between; /* Espacio entre elementos */
}

#container-slider {
    width: 50%; /* Ajusta el ancho según sea necesario */
    padding: 0;
}
/* Estilos específicos para contenedor2 (malo) */
.contenedor2 {
    background-color:  #ac6f63; /* Fondo rojo claro */
    width: 40%;
    height: 500px;
    padding: 20px;
    margin-right: 30px;
    margin-top: 60px;
}

/* Estilos para los encabezados */
h2 {
    font-size: 35px; /* Tamaño de fuente para el título principal */
    color: #467b73; /* Color del texto */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espaciado inferior */
    text-align: center;
    margin-top: 60px;
}

h3, h4 {
    font-size: 30px; /* Tamaño de fuente para los encabezados secundarios */
    color: #ffff; /* Color del texto para encabezados secundarios */
    margin-bottom: 15px; /* Espaciado inferior */
    margin-top: 20px;
    text-align: center;

}

/* Estilos para listas */
ul {
    list-style-type: disc; /* Estilo de lista con viñetas */
    padding-left: 20px; /* Espaciado a la izquierda */
    margin: 10px 0; /* Margen vertical */
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
}

li {
    margin-bottom: 10px; /* Espaciado entre elementos de lista */
}